#page-header {
    height: 200px;
    background: url(../img/header.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
}
.block{
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}
#page-header .block h1{
    padding: 70px 0 0 70px;
    width: 80%;
    color: #fff;
    font-size: 36px;
    text-transform:uppercase;
}
/*article */
.page-article{
    width: 100%;
    margin: 30px 30px 30px 60px;
}
.article-setran {
    margin: 0 0 30px 0;
    height: auto;
    font-size: 14px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
}
.article-setran h2 {
    width: 73%;
    display: block;
    text-align: left;
    margin: 30px 30px 30px 10px;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 24px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
}
.article-setran h3, .article-setran h4{
    width: 73%;
    display: block;
    text-align: left;
    margin: 30px 30px 30px 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 22px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
}

.article-setran p {
    width: 73%;
    display: block;
    margin: 30px 30px 30px 10px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-family: "Open Sans", sans-serif;
}
.article-setran img {
    max-width: 100%;
    height: auto;
    margin: 10px 30px 10px 0;
    float: none;
}
.article-setran .left {
    float: left !important;
    padding: 0 0 10px 0;
    margin: 10px 30px 10px 10px;
}
.article-setran a {
    color: #a76281;
    text-decoration: underline;
}
.article-setran .text {
    font-style: italic;
    font-size: 11px;
    line-height: 13px;
    float: right;
    color: #7d7d7d;
    font-family: "Open Sans", sans-serif;
    display: block;
    width: 25%;
    text-align: left;
}
.article-setran .with-img {
    max-width: 100%;
    display: inline-block;
    font-size: 14px;
    line-height: 14px !important;
    color: #000;
    font-family: "Open Sans", sans-serif;
}

.article-setran .with-img img{
    float: left;
    margin: 10px 30px 10px 10px;
}

.article-setran ul {
    width: 70%;
    display: block;
    margin: 30px 30px 30px 40px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
    list-style-type: disc;
}

.article-setran ol {
    width: 65%;
    display: block;
    margin: 30px 30px 30px 40px;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
    list-style-type: decimal;
}

.article-setran .left {
    float: left !important;
    padding: 5px 5px 5px 0;
}

.article-setran table {
    /*width: 100%;*/
    /*max-width: 100%;*/
    /*margin: 0 auto;*/
    /*float: none;*/
    /*font-size: 12px;*/
    /*border: 0;*/
    /*color: #000000;*/
    /*font-family: "Open Sans", sans-serif;*/
}

.article-setran table tr th {
    padding: 6px;
    text-align: center;
    background-color: #e6e6e6;
    font-family: "Open Sans", sans-serif;
}

.article-setran table tr td {
    padding: 5px;
    border-top: 1px solid #c3c3c3;
    font-family: "Open Sans", sans-serif;
}

.article-setran .only-img {
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    border: 0;
    text-align: left;
    margin: 10px 30px 10px 70px;
}

.article-setran .only-img img {
    margin: auto;
    height: auto;
    float: none;
    max-width: 100%;
}

.article-setran hr {
    border-top: 2px solid #a76281;
    margin: 30px 30px 30px 10px;
    width: 10%;
    display: block;
}

.article-setran small {
    width: 73%;
    display: block;
    margin: 30px 30px 30px 10px;
    color: #9d9d9d;
    font-size: 11px;
    line-height: 14px;
    font-family: "Open Sans", sans-serif;
}

.article-setran .tab-content {
    width: 100%;
}
.article-setran .all-box a{
    text-decoration: none;
    color:#777;
}
.article-setran .all-box a:hover{
    color:#777;
}
.article-setran .all-box .col-md-4, .article-setran .all-box .col-sm-6{
    padding: 0.4px;
}
.article-setran .box {
    border: 1px solid #777;
    padding: 15px;
}
@media only screen and (max-width: 992px) {
    #page-header .block h1{
        padding: 70px 0 0 10px;
        width: 100%;
        color: #fff;
        font-size: 36px;
        text-transform:uppercase;
    }
    .page-article {
        width: 100%;
        margin: 0;
    }
    .article-setran h2 {
        width: 100%;
        display: block;
        text-align: left;
        margin: 30px 30px 30px 10px;
        font-size: 19px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 24px;
        color: #000000;
        font-family: "Open Sans", sans-serif;
    }
    .article-setran h3, .article-setran h4 {
        width: 100%;
        display: block;
        text-align: left;
        margin: 30px 30px 30px 10px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 24px;
        color: #000000;
        font-family: "Open Sans", sans-serif;
    }
    .article-setran p {
        width: 100%;
        display: block;
        margin: 30px 30px 30px 10px;
        text-align: left;
        font-size: 16px;
        line-height: 22px;
        color: #000;
        font-family: "Open Sans", sans-serif;
    }
    .article-setran ul {
        width: 90%;
        display: block;
        margin: 30px 30px 30px 60px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 30px;
        list-style-type: disc;
    }
    .article-setran ol {
        width: 90%;
        display: block;
        margin: 30px 30px 30px 60px;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 30px;
        list-style-type: decimal;
    }
    .article-setran .only-img {
        max-width: 100%;
        margin: auto !important;
    }
    .article-setran .only-img img {
        margin: auto;
        height: auto;
        float: none;
        max-width: 100%;
    }
    .article-setran .with-img {
        width: 100%;
        margin: auto !important;
    }
    .article-setran .with-img img{
        float: left;
        margin: auto !important;;
    }
    .article-setran .text {
        font-style: italic;
        font-size: 11px;
        line-height: 13px;
        color: #7d7d7d;
        font-family: "Open Sans", sans-serif;
        display: block;
        width: 100%;
        padding: 10px 10px 0 10px;
    }
    .article-setran hr {
        margin: 30px 30px 30px 10px;
    }
    .article-setran small {
        width: 100%;
        display: block;
        margin: 30px 30px 30px 10px;
        text-align: left;
        font-size: 11px;
        line-height: 14px;
        color: #000;
        font-family: "Open Sans", sans-serif;
    }
    .article-setran .companies-block{
        width: 100%;
        margin: 30px 30px 30px 10px !important;
    }
    .companies-block{
        width: 100%;
        margin: 30px 30px 30px 70px;
    }
}
@media only screen and (max-width: 767px) {
    #page-header .block h1{
        padding: 70px 0 0 10px;
        width: 90%;
        color: #fff;
        font-size: 30px;
        text-transform:uppercase;
    }
    .page-article{
        width: 100%;
        margin: 0;
    }
    .article-setran .setran-list li {
        display: block;
        margin: 15px 0;
    }

    .article-setran .setran-list li:last-child {
        margin-bottom: 0;
    }

    .article-setran p {
        width: 100%;
    }

    .article-setran small {
        width: 100%;
    }

    .article-setran h1 {
        text-align: left;
        width: 100%;
    }

    .article-setran h2 {
        text-align: left;
        width: 100%;
    }

    .article-setran h3 {
        text-align: left;
        width: 100%;
    }

    .article-setran ul {
        width: 85%;
    }

    .article-setran ol {
        width: 85%;
    }

    .article-setran .left {
        float: left !important;
        padding: 0 0 10px 0;
        margin: 10px 30px 10px 70px;
    }

    .article-setran .right {
        float: right !important;
        padding: 0 0 10px 0;
        margin: 10px 30px 10px 70px;
    }

    .article-setran .only-img {
        width: 100%;
        margin-bottom: 30px;
    }

    .article-setran .only-img img {
        height: auto;
        display: block;
        margin: auto;
        float: none;
    }

    .article-setran table {
        font-family: "Open Sans", sans-serif;
    }
    .article-setran .text {
        font-style: italic;
        font-size: 11px;
        line-height: 13px;
        color: #7d7d7d;
        font-family: "Open Sans", sans-serif;
        display: block;
        width: 100%;
        padding: 0 10px 0 10px;
    }
    .article-setran .companies-block{
        width: 100%;
        margin: 30px 30px 30px 10px !important;
    }
    .companies-block{
        width: 100%;
        margin: 30px 30px 30px 10px;
    }
    .company-block .company-block-img{
        width: 30%;
        float: left;
        height: 100%;
    }
    .company-block .company-block-text{
        width: 70%;
        float: right;
        height: 100%;
        padding-left: 20px;
    }

}
.article-setran .nav-tabs > li {
    float: left !important;
}
@media only screen and (max-width: 400px) {
    #page-header .block h1{
        padding: 40px 0 0 10px;
        width: 68%;
        color: #fff;
        font-size: 30px;
        text-transform:uppercase;
    }
    .companies-block .company-block{
        width: 100%;
    }
    .company-block .company-block-img{
        width: 100% !important;
        height: 100% !important;
    }
    .company-block .company-block-text{
        width: 100% !important;
        height: 100% !important;
    }
}

.companies-block{
    width: 73%;
    margin: 30px 30px 30px 70px;
}
.companies-block span{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.companies-block h5{
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin: auto auto 10px auto;
}
.companies-block a{
    display: inline-block;
    width: 100px;
    height: 35px;
    background-color: #a76281;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    float: right;
}
.companies-block img {
    margin: auto;
    height: auto;
    float: none;
    max-width: 100%;
}
.companies-block .company-block{
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 10px;
    height: auto;
    display: block;
}
.company-block .company-block-img{
    width: 30%;
    float: left;
    height: 100%;
}
.company-block .company-block-text{
    width: 70%;
    float: right;
    height: 100%;
    padding-left: 20px;
}