html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Tahoma';
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  font-family: 'ArialAMU', 'Tahoma', 'Geneva', sans-serif;
  font-size: 100%;
  color: #2b2b2b;
}

img {
  border: 0;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
  background: transparent;
}

.clear {
  clear: both;
}

a:active,
a:focus,
a:hover {
  border: none;
  outline: none;
  text-decoration: none;
}

input:active,
input:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

hr {
  border: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  overflow-x: hidden;
  padding-top: 144px;
}

.clear:after {
  content: '';
  clear: both;
  display: table;
}

#top {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}
#top .top .left {
  float: left;
  padding: 8px 0 5px;
  line-height: 32px;
  position: relative;
}
#top .top .left .mail {
  float: left;
  margin-right: 15px;
}
#top .top .left .mail a {
  display: inline-block;
  background-image: url("../img/mail_icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 14px;
  line-height: 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-left: 25px;
  position: relative;
}
#top .top .left .mail a:before {
  display: block;
  position: absolute;
  content: '';
  width: 40px;
  height: 20px;
  background-color: #fff;
  right: 0;
  top: 0;
  -webkit-box-shadow: -39px 0px 5px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: -39px 0px 5px 0px rgba(255, 255, 255, 0.85);
  box-shadow: -39px 0px 5px 0px rgba(255, 255, 255, 0.9);
}
#top .top .left .mail.active a:before {
  display: none;
}
#top .top .left .tel {
  float: left;
  margin-right: 15px;
}
#top .top .left .tel a {
  display: inline-block;
  background-image: url("../img/phone_icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 14px;
  line-height: 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-left: 25px;
  position: relative;
}
#top .top .left .tel a:before {
  position: absolute;
  content: '';
  width: 140px;
  height: 20px;
  background-color: #fff;
  right: 0;
  top: 0;
  -webkit-box-shadow: -39px 0px 5px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: -39px 0px 5px 0px rgba(255, 255, 255, 0.85);
  box-shadow: -39px 0px 5px 0px rgba(255, 255, 255, 0.9);
}
#top .top .left .tel.active a:before {
  display: none;
}
#top .top .left .contact_show {
  float: left;
  /*.cont_btn {
      &.active {
          display: none;
      }
  }*/
}
#top .top .left .contact_show a {
  display: inline-block;
  width: 138px;
  height: 35px;
}
#top .top .left .contact_show a .first {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 32px;
  text-align: center;
  font-size: 13px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
}
#top .top .left .contact_show a .first span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
#top .top .left .contact_show a .second {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 32px;
  text-align: center;
  font-size: 13px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
}
#top .top .left .contact_show a.active .first {
  display: none;
}
#top .top .left .contact_show a.active .second {
  display: inline-block;
}
#top .top .left .contact_show a:hover {
  background-color: #000;
}
#top .top .left .contact_show a:hover span {
  color: #fff;
}
#top .top .right {
  float: right;
  border-left: 1px solid #e5e5e5;
  padding: 8px 0 5px 10px;
}
#top .top .right a {
  display: inline-block;
  /*width: 265px;*/
  height: 35px;
  padding:  0 5px;
  background-color: #a76281;
  line-height: 35px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: all .3s ease;
}
#top .top .right a:hover {
  background-color: #965874;
}
#top .top .right a span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
#top .top .right ul {
  display: inline-block;
  float: right;
}
#top .top .right ul li {
  margin-left: 5px;
  float: left;
}
#top .top .right ul li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #ccc;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  background-color: transparent;
}
#top .top .right ul li a.active {
  color: #a76281;
}
#top .top .right ul li a.active:hover {
  text-decoration: none;
  background-color: transparent;
}
#top .top .right ul li a:hover {
  text-decoration: underline;
  background-color: transparent;
}

#header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 49px;
  z-index: 20;
}
#header .header .logo {
  float: left;
  width: 240px;
  padding: 20px 0;
  transition: all .5s ease;
}
#header .header .logo a img {
  max-width: 100%;
}
#header .header .menu_open {
  display: none;
  float: right;
  width: 42px;
  border: 1px solid #761409;
  padding: 10px 0;
  margin-top: 30px;
  margin-right: 15px;
}
#header .header .menu_open span {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #761409;
  margin: 0 auto 4px;
  transition: all .8s ease;
}
#header .header .menu_open span:last-child {
  margin-bottom: 0;
}
#header .header .menu_open.active span:nth-child(2) {
  display: none;
}
#header .header .menu_open.active span:first-child {
  position: relative;
  top: 4px;
  transform: rotate(405deg);
}
#header .header .menu_open.active span:last-child {
  position: relative;
  top: -2px;
  transform: rotate(-405deg);
}
#header .header .menu {
  float: right;
  transition: all .5s ease;
}
#header .header .menu > ul > li {
  float: left;
  margin-left: 20px;
  position: relative;
}
#header .header .menu > ul > li > a {
  display: inline-block;
  font-size: 14px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 40px 0;
  transition: all .3s ease;
}
#header .header .menu > ul > li > a:hover {
  color: #a76281;
}
#header .header .menu > ul > li .pod_menu {
  position: absolute;
  display: none;
  top: 94px;
  background-color: rgba(255, 255, 255, 0.95);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  width: 240px;
  z-index: 5;
  padding: 10px 0;
}
#header .header .menu > ul > li .pod_menu li a {
  font-size: 14px;
  color: #626262;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: none;
  padding: 8px 15px;
  display: block;
  line-height: 16px;
  position: relative;
}
#header .header .menu > ul > li .pod_menu li a:before {
  position: absolute;
  content: '';
  width: 5px;
  height: 100%;
  background-color: #a76281;
  left: 0;
  top: 0;
  display: none;
}
#header .header .menu > ul > li .pod_menu li a:hover {
  color: #a76281 !important;
}
@media (min-width: 767px) {
  #header .header .menu > ul > li .pod_menu li a:hover:before {
    display: block;
  }
  #header .header .menu > ul > li:hover .pod_menu {
    display: block;
  }
}


#header .header .menu .menu_solcial li {
  float: left;
}
#header .header .menu .menu_solcial li a {
  background-image: none;
}
#header.fix .logo {
  padding: 10px 0;
}
#header.fix .menu_open {
  margin-top: 15px;
}
#header.fix .menu > ul > li a {
  padding: 25px 0;
}
#header.fix .menu > ul > li .pod_menu {
  top: 64px;
}

#main {
  /*background-image: url("../img/main_bg.jpg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 180px 15px 150px;
  text-align: center;
  transition: all 2s ease;
}
#main h1 {
  font-size: 58px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 65px;
  padding-bottom: 70px;
}
#main a {
  display: inline-block;
  width: 326px;
  height: 52px;
  border: 2px solid #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 48px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s ease;
}
#main a:hover {
  background-color: #fff;
  color: #000;
}

#grids {
  padding: 45px 15px;
  background-color: #f2f2f2;
}
#grids .grid .grid-item {
  overflow: hidden;
}
#grids .grid .grid-item div {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  transition-duration: 2s;
}
#grids .grid .grid-item p {
  font-size: 15px;
  color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px;
  line-height: 22px;
}
#grids .grid .grid-item:hover div {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

#slider_block {
  background-color: #fff;
}
#slider_block .slider_block {
  padding: 45px 0 25px;
}
#slider_block .slider_block h3 {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  position: relative;
  padding-right: 55px;
  color: #333333;
}
#slider_block .slider_block h3:before {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 30px;
  background-color: #a76281;
}
#slider_block .slider_block h2 {
  font-size: 44px;
  color: #000;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 52px;
  padding-bottom: 30px;
}
#slider_block .slider_block .owl-carousel {
  position: relative;
}
#slider_block .slider_block .owl-carousel .item {
  padding: 20px 10px;
  background-color: #f9f9f9;
  text-align: center;
  min-height: 315px;
}
#slider_block .slider_block .owl-carousel .item img {
  display: block;
  width: auto;
  margin: 0 auto 25px;
}
#slider_block .slider_block .owl-carousel .item h4 {
  padding-bottom: 18px;
  font-size: 20px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
}
#slider_block .slider_block .owl-carousel .item p {
  font-size: 14px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 15px;
}
#slider_block .slider_block .owl-carousel .item a {
  display: inline-block;
  width: 140px;
  height: 35px;
  border: 1px solid #e6e6e6;
  background-color: transparent;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  transition: all .3s ease;
  position: absolute;
  bottom: 10px;
  left: 24%;
}
#slider_block .slider_block .owl-carousel .item a:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
#slider_block .slider_block .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 100%;
}
#slider_block .slider_block .owl-carousel .owl-nav .owl-prev,
#slider_block .slider_block .owl-carousel .owl-nav .owl-next {
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 44px;
}
#slider_block .slider_block .owl-carousel .owl-nav .owl-prev {
  background-image: url("../img/left_arr.png");
  float: left;
  margin-left: 10px;
}
#slider_block .slider_block .owl-carousel .owl-nav .owl-next {
  background-image: url("../img/right_arr.png");
  float: right;
  margin-right: 10px;
}

#tab_main {
  background: url("../img/map.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 50px;
}
#tab_main h4 {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  position: relative;
  padding-right: 55px;
  color: #fff;
  margin: 45px 0 20px;
}
#tab_main h4:before {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 30px;
  background-color: #a76281;
}
#tab_main h2 {
  color: #cfcfd1;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
}
#tab_main .tab_nav {
  margin: 40px 15px 25px;
}
#tab_main .tab_nav li {
  float: left;
}
#tab_main .tab_nav li a {
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  height: 45px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  border: 2px solid rgba(88, 68, 121, 0.3);
}
#tab_main .tab_nav li a.active {
  background-color: rgba(88, 68, 121, 0.7);
}
#tab_main .tab_nav li a.btn1 {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
#tab_main .tab_nav li a.btn2 {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#tab_main .tab_blocks .block1 p {
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 22px;
  display: inline-block;
  background-color: rgba(88, 68, 121, 0.7);
  padding: 15px;
  margin-bottom: 30px;
  width: 80%;
}
#tab_main .tab_blocks .block1 .social {
  margin-bottom: 25px;
}
#tab_main .tab_blocks .block1 .social li {
  float: left;
  margin-right: 15px;
}
.ya-share2__container_size_m .ya-share2__item_service_facebook .ya-share2__icon {
  background-image: url("../img/facebook.png") !important;
}
.ya-share2__item_service_facebook .ya-share2__badge {
  background-color: transparent !important;
}
.ya-share2__container_size_m .ya-share2__item_service_gplus .ya-share2__icon {
  background-image: url("../img/g-plus.png") !important;
}
.ya-share2__item_service_gplus .ya-share2__badge {
  background-color: transparent !important;
}
.ya-share2__container_size_m .ya-share2__item_service_twitter .ya-share2__icon {
  background-image: url("../img/twitter.png") !important;
}
.ya-share2__item_service_twitter .ya-share2__badge {
  background-color: transparent !important;
}
.ya-share2__container_size_m .ya-share2__icon {
  height: 25px !important;
  width: 25px !important;
}
#tab_main .tab_blocks .block1 .more_about {
  display: block;
  width: 100%;
  max-width: 280px;
  height: 38px;
  line-height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #a76281;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  transition: all .3s ease;
}
#tab_main .tab_blocks .block1 .more_about:hover {
  background-color: #965874;
}
#tab_main .tab_blocks .block1 h3 {
  font-size: 24px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}
#tab_main .tab_blocks .block1 h3 span {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: none;
  line-height: 22px;
}
#tab_main .tab_blocks .block1 .center_obs {
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding: 8px 10px;
  display: inline-block;
  background-color: rgba(88, 68, 121, 0.7);
  margin-bottom: 10px;
}
#tab_main .tab_blocks .block1 .cityes li {
  float: left;
  background-color: rgba(88, 68, 121, 0.7);
  padding: 8px 8px;
  display: inline-block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
#tab_main .tab_blocks .block1 img {
  max-width: 100%;
}
#tab_main .tab_blocks .block2 {
  display: none;
}
#tab_main .tab_blocks .block2 div {
  text-align: center;
}
#tab_main .tab_blocks .block2 div a {
  display: inline-block;
  position: relative;
}
#tab_main .tab_blocks .block2 div a img {
  max-width: 100%;
}
#tab_main .tab_blocks .block2 div a img.in_img {
  position: absolute;
  top: 20px;
  left: 20px;
}

#intessa {
  background-color: #f2f2f2;
}
#intessa .intessa {
  padding: 55px 0 95px;
}
#intessa .intessa h4 {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  position: relative;
  padding-right: 55px;
  color: #313131;
}
#intessa .intessa h4:before {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 30px;
  background-color: #a76281;
}
#intessa .intessa h3 {
  padding-bottom: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 45px;
  color: #313131;
}
#intessa .intessa p {
  padding-bottom: 30px;
  font-size: 14px;
  color: #313131;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
}
#intessa .intessa a {
  width: 175px;
  height: 38px;
  line-height: 35px;
  display: block;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #a76281;
  transition: all .3s ease;
}
#intessa .intessa a:hover {
  background-color: #965874;
}
#intessa .intessa .intessa_logo {
  text-align: right;
  padding-top: 80px;
}
#intessa .intessa .intessa_logo img {
  max-width: 100%;
}

#footer {
  background-color: #415168;
}
#footer .footer {
  padding: 65px 0 50px;
}
#footer .footer h4 {
  font-size: 20px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  margin-bottom: 12px;
  position: relative;
}
#footer .footer h4:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 30px;
  background-color: #a76281;
}
#footer .footer .left div {
  padding-left: 38px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #d1d4d8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: left top;
}
#footer .footer .left div.address {
  background-image: url("../img/home_icon.jpg");
}
#footer .footer .left div.tel {
  background-image: url("../img/tel_icon.jpg");
}
#footer .footer .left div.email {
  background-image: url("../img/mail_icon.jpg");
  margin-bottom: 35px;
}
#footer .footer .left div.copypast {
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 25px;
  position: relative;
}
#footer .footer .left div.copypast:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 2px;
  width: 30px;
  background-color: #a76281;
}
#footer .footer .center ul li {
  margin-bottom: 10px;
}
#footer .footer .center ul li a {
  font-size: 14px;
  color: #d1d4d8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
}
#footer .footer .right input[type="text"] {
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 15px;
  border: none;
  font-size: 14px;
  color: #d1d4d8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #495b71;
}
#footer .footer .right textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  border: none;
  font-size: 14px;
  color: #d1d4d8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #495b71;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#footer .footer .right input[type="submit"] {
  width: 120px;
  height: 35px;
  display: block;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: #a76281;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  transition: all .3s ease;
}
#footer .footer .right input[type="submit"]:hover {
  background-color: #965874;
}

.to_top_btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  display: none;
  z-index: 99;
  transition: all .3s ease;
}

@media (max-width: 992px) {
  /*body {
      padding-top: 0 !important;
  }*/
  #top {
    /*position: static !important;*/
  }
  #top .top .left {
    width: 200px;
  }
  #top .top .left .mail,
  #top .top .left .tel {
    width: 100%;
    margin-right: 0;
  }
  #top .top .left .mail.active,
  #top .top .left .tel.active {
    display: block;
    margin-bottom: 5px;
  }

  #header.big {
    top: 123px;
  }

  #grids .grid .grid-item p {
    font-size: 12px;
    line-height: 18px;
  }

  #top .top .left .mail,
  #top .top .left .tel {
    display: none;
  }
  #top .top .right {
    border: none;
  }

  #slider_block .slider_block h2 {
    font-size: 32px;
  }

  #tab_main {
    background: url("../img/planchet_bg_tab.jpg") no-repeat center center;
    background-size: cover;
  }
  #tab_main h2 {
    font-size: 26px;
    line-height: 32px;
  }
  #tab_main .tab_blocks .block1 .col-md-6 {
    padding: 0;
  }
  #tab_main .tab_blocks .block1 p {
    width: 100%;
    background-color: transparent;
  }
  #tab_main .tab_blocks .block1 .more_about {
    margin-bottom: 30px;
  }
  #tab_main .tab_blocks .block1 img {
    display: none;
  }
  #tab_main .tab_blocks .block1 h3 span {
    display: inline-block;
  }
  #tab_main .tab_blocks .block1 .center_obs {
    background-color: transparent;
    padding: 0;
    margin-bottom: 25px;
    margin-top: 60px;
  }
  #tab_main .tab_blocks .block1 .cityes li {
    background-color: transparent;
  }

  #intessa .intessa h4 {
    font-size: 15px;
  }
  #intessa .intessa h3 {
    font-size: 25px;
  }

  #footer .footer > div {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  #header .header .menu {
    display: block !important;
  }
}
@media (max-width: 767px) {
  #main {
    padding: 140px 15px 100px;
  }
  #main h1 {
    font-size: 41px;
    line-height: 46px;
  }

  #slider_block .slider_block h2 {
    font-size: 24px;
    line-height: 30px;
  }

  #tab_main .tab_blocks .block2 .col-md-4 {
    margin-bottom: 35px;
  }

  #header {
    padding: 0;
  }
  #header .container {
    padding: 0;
  }
  #header .header {
    position: relative;
  }
  #header .header .logo {
    margin-left: 30px;
  }
  #header .header .menu_open {
    display: inline-block;
    margin-right: 30px;
  }
  #header .header .menu {
    display: none;
    float: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 95px;
    background-color: #2f2f2f;
    z-index: 10;
  }
  #header .header .menu ul li {
    float: none;
    margin-left: 0;
  }
  #header .header .menu ul li a {
    display: block;
    padding: 15px;
    padding-left: 30px;
    color: #fff;
    background-image: url("../img/min_arr_right.png");
    background-repeat: no-repeat;
    background-position: right 35px center;
  }
  #header .header .menu ul .pod_menu {
    width: 100% !important;
    position: static !important;
    margin-left: 0 !important;
    background-color: #2f2f2f !important;
    padding: 0 !important;
  }
  #header .header .menu ul .pod_menu li a {
    font-size: 11px !important;
    color: #fff !important;
    padding: 5px 40px !important;
    line-height: 13px !important;
  }

  #header.fix .header .menu {
    top: 65px;
  }
}
@media (max-width: 660px) {
  #top .top {
    margin: 0 auto;
    width: 280px;
    position: relative;
  }
  #top .top .left {
    width: 80px;
    position: static;
  }
  #top .top .left .contact_show a {
    width: 80px;
    height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #top .top .left .contact_show a span {
    display: none;
  }
  #top .top .left .tel {
    position: absolute;
    width: 100%;
    top: 30px;
  }
  #top .top .left .mail {
    position: absolute;
    width: 100%;
    top: 5px;
  }
  #top .top .right {
    padding-left: 0;
  }
  #top .top .right a {
    width: 200px;
    display: inline-block;
    height: 34px;
  }
  #top .top .right a span {
    display: none;
  }
  #top .top .right ul {
    float: none;
    display: block;
    padding-top: 5px;
  }
  #top.padtop .top {
    padding-top: 60px !important;
  }

  #header {
    top: 48px !important;
  }
  #header.big {
    top: 108px !important;
  }
}
@media (max-width: 520px) {
  #main {
    padding: 60px 15px 40px;
  }
  #main h1 {
    font-size: 21px;
    line-height: 26px;
  }
  #main a {
    width: 220px;
    height: 40px;
    line-height: 38px;
    font-size: 12px;
  }

  #intessa .intessa {
    padding: 40px 0 50px;
  }
  #intessa .intessa > div {
    width: 100%;
    float: none;
  }
  #intessa .intessa > div h4 {
    margin-bottom: 10px;
  }
  #intessa .intessa > div h3 {
    padding-bottom: 45px;
  }
  #intessa .intessa > div p {
    padding-bottom: 40px;
  }
  #intessa .intessa > div.intessa_logo {
    text-align: left;
  }
}

#slider_block2 .owl-prev, #slider_block2 .owl-next{
  /*display: none;*/
}

/*article */
.article-secure {
  margin: 0 0 30px 0;
  height: auto;
  text-align: justify;
  font-size: 14px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.article-secure p {
  width: 80%;
  display: block;
  margin: 0 auto 30px;
  text-align: justify;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.article-secure a {
  color: #59526b;
}

.article-secure h1 {
  width: 75%;
  display: block;
  text-align: left;
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.article-secure h2 {
  width: 75%;
  display: block;
  text-align: left;
  margin: 0 auto 30px;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.article-secure h3 {
  width: 75%;
  display: block;
  text-align: left;
  margin: 0 auto 30px;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}
.article-secure .text {
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.article-secure ul {
  width: 65%;
  display: block;
  margin: auto;
  text-align: justify;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
  list-style-type: disc;
}

.article-secure ol {
  width: 78%;
  display: block;
  margin: auto;
  text-align: justify;
  font-size: 14px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
  list-style-type: decimal;

}

.article-secure .left {
  float: left !important;
  padding: 5px 5px 5px 0;
}

.article-secure .right {
  float: right !important;
  padding: 5px 0 5px 5px;
}

.article-secure table {
  /*width: 100%;*/
  /*max-width: 100%;*/
  /*margin: 0 auto;*/
  /*float: none;*/
  /*font-size: 12px;*/
  /*border: 0;*/
  /*color: #000000;*/
  /*font-family: "Open Sans", sans-serif;*/
}

.article-secure table tr th {
  padding: 6px;
  text-align: center;
  background-color: #e6e6e6;
}

.article-secure table tr td {
  padding: 5px;
  background-color: #f2f2f2;
  border-top: 1px solid #c3c3c3;
}

.article-secure img {
  max-width: 100%;
  height: auto;
  /*display:block;*/
  margin: auto;
  float: none;
}

.article-secure .with-img {
  width: 100%;
  display: inline-block;
  margin: 0 auto 30px;
  text-align: justify;
  font-size: 14px;
  line-height: 14px !important;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.article-secure .only-img {
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  border: 0;
  text-align: center;
  margin-bottom: 30px;
}

.article-secure .only-img img {
  margin: auto;
  height: auto;
  float: none;
  max-width: 100%;
}

.article-secure hr {
  border-top: 1px solid #e7e7e7;
  width: 75%;
  display: block;
}

.article-secure small {
  width: 75%;
  display: block;
  margin: 0 auto 30px;
  text-align: justify;
  color: #9d9d9d;
}

.article-secure .tab-content {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .article-secure .secure-list li {
    margin: 5px 30px;
  }
  .article-secure .only-img {
    width: 100%;
    margin-bottom: 30px;
  }
  .article-secure .only-img img {
    margin: auto;
    height: auto;
    float: none;
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .article-secure .secure-list li {
    display: block;
    margin: 15px 0;
  }

  .article-secure ul{
    text-align: left;
    padding-left: 30px;
  }
  .article-secure .secure-list li:last-child {
    margin-bottom: 0;
  }

  .article-secure p {
    width: 100%;
    text-align: left;
  }

  .article-secure small {
    width: 100%;
  }

  .article-secure hr {
    width: 100%;
    text-align: left;
  }

  .article-secure h1 {
    text-align: left;
    width: 100%;
  }

  .article-secure h2 {
    text-align: left;
    width: 100%;
  }

  .article-secure h3 {
    text-align: left;
    width: 100%;
  }

  .article-secure ul {
    width: 100%;
  }

  .article-secure ol {
    width: 100%;
  }

  .article-secure .left {
    float: left !important;
    padding: 0 0 10px 0;
  }

  .article-secure .right {
    float: right !important;
    padding: 0 0 10px 0;
  }

  .article-secure .only-img {
    width: 100%;
    margin-bottom: 30px;
  }

  .article-secure .only-img img {
    height: auto;
    display: block;
    margin: auto;
    float: none;
  }

  .article-secure table {
    /*width: 100%;*/
    /*max-width: 100%;*/
    /*margin: 0 auto;*/
    /*float: none;*/
    /*font-size: 12px;*/
    /*border: 0;*/
    /*color: #000000;*/
    /*margin-bottom: 15px;*/
    /*font-family: "Open Sans", sans-serif;*/
  }
}
.article-secure .nav-tabs > li {
  float: left !important;
}
@media only screen and (max-width: 400px) {
  .article-secure .nav-tabs > li {
    float: none !important;
  }
}

.article-secure .nav > li > a > img {
  transition: all .2s ease-in-out !important;
  -webkit-filter: grayscale(100%);
  background-color: #fff;
  color: #fff;
}

.article-secure .nav > li > a > img:hover {
  transform: scale(1.1) !important;
  -webkit-filter: grayscale(0);
  color: #fff;
  background-color: #fff;
}
.article-secure .nav>li>a:hover{
  background-color: #fff;
}
.article-secure .nav-tabs>li>a{
}

.article-secure .nav > li.active > a > img {
  -webkit-filter: grayscale(0);
}
/*Tab Container*/
@media only screen and (min-width: 1280px) {
  .tab-container {
    width: 1280px !important;
  }
}

@media only screen and (max-width: 1279px) {
  .tab-container {
    width: 960px !important;
  }

  .tab-container ul {
    width: 960px;
  }

  .tab-container .nav > li {
    width: 140px;
  }

  .tab-container .nav > li > a > img {
    width: 110px;
  }
}

@media only screen and (max-width: 992px) {
  .tab-container {
    width: 767px !important;
  }

  .tab-container ul {
    width: 767px;
  }

  .tab-container .nav > li {
    width: 110px;
  }

  .tab-container .nav > li > a > img {
    width: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .tab-container {
    font-family: "Open Sans", sans-serif;
    width: 750px !important;
  }

  .tab-container ul {
    width: 750px !important;
  }

  .tab-container .nav > li {
    width: 110px;
  }

  .tab-container .nav > li > a > img {
    width: 80px !important;
  }
}

.tab-container ul {
  width: 95%;
  display: block;
  margin: auto;
}

.tab-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.panel-default > .panel-heading {
  background-color: #fff;
}
.panel-default {
  border-color: transparent;
}
.panel-title.collapsed::after {
  content: "\e260";
}
.panel-title::after {
  font-family: 'Glyphicons Halflings';
  content: "\e259";
  float: right;
  color: #a76281;
  margin-top: -70px;
}